body
{
        background-image:url("bg.jpg");
        height:100%;
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
}
*
 {
             font-family: 'Yeon Sung', cursive;
             align:center;
 }
input 
{
            width: 60px;
            height: 40px;
            border-radius: 5px;
            text-align: center;
 }